@reference "@/styles/global.css";
@import "github-markdown-css/github-markdown-light.css";

.markdown-body {
  line-height: 2em;
  @apply text-zinc-600;
}

.markdown-body h1 {
  @apply text-2xl;
}

.markdown-body h2 {
  @apply text-xl;
}

.markdown-body h3 {
  @apply text-lg;
}

.markdown-body a {
  @apply text-emerald-500;
}

.markdown-body hr {
  height: 0.05em;
  margin: 2.5rem;
}

.remark-code-title {
  @apply inline-block;
  @apply font-mono text-xs text-white;
  @apply px-3 pt-1.5 pb-3.5;
  @apply rounded;
  @apply relative;

  right: auto;
  bottom: auto;
  left: auto;
  top: 4px;
  background-color: #272822;
  margin-bottom: -5px;
}

.markdown-body .remark-card {
  @apply mb-4 p-2;
}

.markdown-body .remark-card a {
  @apply block w-full! rounded-lg border border-gray-200 bg-white px-6 shadow-sm hover:bg-neutral-50;
  @apply hover:no-underline;
}

.markdown-body .remark-card .title {
  @apply mb-2 text-gray-900;
}

.markdown-body .remark-card .site {
  @apply mt-2;
}

.markdown-body .remark-card .site .favicon {
  @apply mr-1 inline-block;
  @apply h-4 w-4;
}

.markdown-body .remark-card .site .domain {
  @apply inline-block text-gray-500;
}
