@import "github-markdown-css/github-markdown-light.css";

.markdown-body {
  line-height: 2em;
  color: rgb(63 63 70);
}

.markdown-body h1 {
  font-size: 1.5em;
}

.markdown-body h2 {
  font-size: 1.25em;
}

.markdown-body h3 {
  font-size: 1.1em;
}

.remark-code-title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  top: 4px;
  display: inline-block;
  padding: 3px 10px;
  padding-bottom: 7px;
  background-color: #272822;
  color: #fff;
  font-size: 85%;
  line-height: 1.5;
  margin-bottom: -5px;
}
