@import "github-markdown-css/github-markdown-light.css";

.markdown-body {
  line-height: 2em;
  @apply text-zinc-600;
}

.markdown-body h1 {
  @apply text-2xl;
}

.markdown-body h2 {
  @apply text-xl;
}

.markdown-body h3 {
  @apply text-lg;
}

.markdown-body a {
  @apply text-emerald-500;
}

.remark-code-title {
  @apply inline-block;
  @apply font-mono text-xs text-white;
  @apply px-3 pb-3.5 pt-1.5;
  @apply rounded;
  @apply relative;

  right: auto;
  bottom: auto;
  left: auto;
  top: 4px;
  background-color: #272822;
  margin-bottom: -5px;
}
