{{ partial "header.html" . }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2 is-dark is-bold" style="padding-left: 1.25rem;">{{ .Title }}</h1>
      <h2 class="subtitle is-4 has-text-right" style="padding-right: 1.5rem;">
        <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time>
      </h2>
      <hr style="height: 2px; background-color: #4a4a4a; margin-bottom: 3rem;"/>
      <div class="content is-medium">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <div class="has-text-right">
        <a href="https://twitter.com/share" class="twitter-share-button">ツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
