{{ partial "header.html" . }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          <h1 class="title is-2 is-dark is-bold" style="padding-left: 1.25rem;">{{ .Title }}</h1>
          <h2 class="subtitle is-4 has-text-right" style="padding-right: 1.5rem;">
            <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time>
          </h2>
          <hr style="height: 2px; background-color: #4a4a4a; margin-bottom: 3rem;" />
          <div class="content is-medium">
            {{ .Content }}
          </div>

          <hr style="height: 2px; margin-top: 6rem;" />
          <div>
            <a class="button twitter" href="http://twitter.com/intent/tweet?text={{ .Title | safeJS }}%20%7C%20{{ .Site.Title }}%20{{ .Permalink | safeJS }}%20%40{{ .Site.Params.twitter }}">
              <span class="icon"><i class="fa fa-twitter"></i></span>
              <span>ツイート</span>
            </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
        <div class="column">
          <h4 class="subtitle">目次</h4>
          <div class="content" style="font-size: 1.15rem;">
            {{ .TableOfContents }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
  </div>
</section>

{{ partial "footer.html" . }}
