---
import ProfileCard from "@/components/ProfileCard.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About" seo={{ openGraph: { type: "website" } }}>
  <div class="center mt-12">
    <ProfileCard />
  </div>
</Layout>

<style>
  @reference "@/styles/global.css";
</style>
