---
import { cdate } from "cdate";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../lib/repositories/posts";

const posts = await getPosts();

const tags = Array.from(
  new Set(posts.map(({ data }) => data.tags).flat())
).sort();
---

<Layout title="Blog" seo={{ openGraph: { type: "website" } }}>
  <main class="base">
    <section class="content">
      <ul>
        {
          posts.map((entry) => {
            const publishAt = cdate(entry.data.publishDate).format(
              "YYYY/MM/DD"
            );

            return (
              <li class="list">
                <time>{publishAt}</time>:
                <a href={`/posts/${entry.slug}`} class="link">
                  {entry.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>

    <section class="content">
      <h1 class="text-xl mb-3 font-bold">Tags</h1>
      <div>
        {tags.filter((tag) => !!tag).map((tag) => <Tag name={tag} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  .base {
    @apply grid grid-cols-10 gap-y-6;
    @apply mt-5;
  }

  .content {
    @apply col-span-8 col-start-2;
    @apply md:col-span-6 md:col-start-3;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }

  .list {
    @apply my-1;
  }
</style>
