<footer class="base">
  <section class="content">
    <div class="flex flex-col justify-between gap-y-2 text-right">
      <a href="https://github.com/70-10/blog" class="link">GitHub</a>
    </div>
  </section>
</footer>

<style>
  @reference "@/styles/global.css";

  .base {
    @apply bg-gray-100;
    @apply mt-8;
  }

  .content {
    @apply mx-auto w-full max-w-screen-sm px-6 sm:px-10;
    @apply py-6;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }
</style>
