<footer class="base">
  <section class="content center">
    <div
      class="stack flex-col justify-between gap-y-2 text-right"
      style="--stack-space: var(--spacing-3xs);"
    >
      <a href="/privacy-policy" class="link">プライバシーポリシー</a>
      <a href="https://github.com/70-10/blog" class="link">GitHub</a>
    </div>
  </section>
</footer>

<style>
  @reference "@/styles/global.css";

  .base {
    @apply bg-gray-100;
    @apply mt-8;
  }

  .content {
    @apply py-6;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }
</style>
