<footer class="base">
  <section class="content">
    <a href="/privacy-policy">プライバシーポリシー</a>
  </section>
</footer>

<style>
  .base {
    @apply grid grid-cols-10 gap-y-6;
    @apply mt-5;
  }

  .content {
    @apply col-start-2 col-span-8;
    @apply md:col-start-3 md:col-span-6;
    @apply lg:col-start-4 lg:col-span-4;
  }
</style>
