<header class="base">
  <section class="content">
    <div class="flex items-end justify-between">
      <a href="/" class="text-2xl font-extrabold">Blog</a>
      <div class="text-sm">
        <span>written by</span>
        <a href="https://github.com/70-10" class="link">70_10</a>
      </div>
    </div>
  </section>
</header>
<style>
  .base {
    @apply grid grid-cols-10 gap-y-6;
    @apply pt-3;
  }

  .content {
    @apply col-span-8 col-start-2;
    @apply md:col-span-6 md:col-start-3;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }
</style>
