<header class="base">
  <section class="content">
    <div class="flex items-center justify-between">
      <a href="/" class="text-2xl font-extrabold">Blog</a>
    </div>
  </section>
</header>
<style>
  .base {
    @apply grid grid-cols-10 gap-y-6;
    @apply pt-3;
  }

  .content {
    @apply col-start-2 col-span-8;
    @apply md:col-start-3 md:col-span-6;
  }
</style>
