<header class="base">
  <section class="content">
    <div class="flex items-end justify-between">
      <a href="/" class="title">mnml</a>
    </div>
  </section>
</header>
<style>
  @reference "@/styles/global.css";

  .base {
  }

  .content {
    @apply mx-auto w-full max-w-screen-sm px-6 sm:px-10;
    @apply pt-8;
  }

  .title {
    @apply font-sacramento;
    @apply text-5xl;
    @apply text-zinc-700;
    @apply hover:text-zinc-500;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }
</style>
