<header class="base">
  <section class="content">
    <div class="flex items-end justify-between">
      <a href="/" class="text-2xl font-extrabold">Blog</a>
    </div>
  </section>
</header>
<style>
  .base {
  }

  .content {
    @apply mx-auto w-full max-w-screen-sm px-6 sm:px-10;
    @apply pt-8;
  }

  .link {
    @apply text-blue-600 hover:text-gray-700;
  }
</style>
