---
const { name } = Astro.props;
---

<a href={`/tags/${encodeURI(name)}`} class="tag">#{name}</a>

<style>
  .tag {
    @apply inline-block;
    @apply rounded-xl border border-blue-500 bg-blue-500;
    @apply text-sm text-white;
    @apply m-1;
    @apply px-2.5 py-0.5;
    @apply hover:border-blue-400 hover:bg-blue-400;
  }
</style>
