---
const { name } = Astro.props;
---

<a href={`/tags/${encodeURI(name)}`} class="tag">#{name}</a>

<style>
  @reference "@/styles/global.css";

  .tag {
    display: inline-block;
    border-radius: 0.5rem;
    border: 1px solid rgb(161, 161, 170);
    font-size: 0.875rem;
    color: rgb(113, 113, 122);
    margin: 0.25rem;
    padding: 0.625rem 0.625rem;
    transition-property: border-color, color;
    transition-duration: 0.2s;
  }

  .tag:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
  }
</style>
