---
const { name } = Astro.props;
---

<a href={`/tags/${encodeURI(name)}`} class="tag">#{name}</a>

<style>
  @import "tailwindcss";
  .tag {
    @apply inline-block;
    @apply rounded-lg border border-zinc-400;
    @apply text-sm text-zinc-500;
    @apply m-1;
    @apply px-2.5 py-1;
    @apply hover:border-emerald-400 hover:text-emerald-400;
  }
</style>
