---
const { name } = Astro.props;
---

<a href={`/tags/${encodeURI(name)}`} class="tag">#{name}</a>

<style>
  @reference "@/styles/global.css";

  .tag {
    @apply inline-block;
    @apply rounded-lg border border-zinc-300;
    @apply text-sm font-medium text-zinc-600;
    @apply m-1 px-3 py-1.5;
    @apply transition-all duration-300 ease-in-out;
    @apply hover:border-emerald-500 hover:bg-emerald-50 hover:text-emerald-600;
  }
</style>
