<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="Blog at 70-10.net">
  <meta name="author" content="70_10">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="{{ .Title }}">
  <meta itemprop="description" content="Blog at 70-10.net">
  <meta itemprop="image" content="">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="Blog at 70-10.net">
  <meta property="og:image" content="">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="Blog at 70-10.net">
  <meta name="twitter:image" content="">

  <title>{{ .Title }} / {{ .Site.Title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:700" rel="stylesheet">
  {{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ template "_internal/google_analytics.html" . }}
</head>

<body>
  <section class="hero is-light is-medium" style="background-color: #fff;">
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="{{ .Site.BaseURL }}">
              <h1 class="title blog-title">{{ .Site.Title }}</h1>
            </a>
          </div>
          <div class="nav-right nav-menu">
            <a class="nav-item" href="https://github.com/{{ .Site.Params.github }}" title="{{ .Site.Author.name }}" target="_blank">
              <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a class="nav-item" href="https://twitter.com/{{ .Site.Params.twitter }}" title="{{ .Site.Author.name }}" target="_blank">
              <span class="icon" style="color: #55acee;"><i class="fa fa-twitter"></i></span>
            </a>
          </div>
        </div>
      </header>
    </div>
  </section>
