<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="Blog at 70-10.net">
  <meta name="author" content="70_10">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="{{ .Title }}">
  <meta itemprop="description" content="Blog at 70-10.net">
  <meta itemprop="image" content="">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="Blog at 70-10.net">
  <meta property="og:image" content="">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="Blog at 70-10.net">
  <meta name="twitter:image" content="">

  <title>{{ .Title }} | {{ .Site.Title }}</title>

  {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ template "_internal/google_analytics.html" . }}
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>
  <nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          <h1 class="title has-text-white blog-title">{{ .Site.Title }}</h1>
        </a>
      </div>
    </div>
  </nav>
