{{ partial "header.html" . }}

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-9">
        <div class="content is-large">
          <ul>
            {{ range .Data.Pages }}
              {{ if eq .Type  "post" }}
                {{ .Render "list"}}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="column is-3">
        {{ partial "menu.html" .}}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
