{{ partial "header.html" . }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <h1 class="title">タグ</h1>
        <div class="field is-grouped is-grouped-multiline">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <div class="control">
              <div class="tags has-addons">
                  <a href="/tags/{{ $name | urlize }}">
                    <span class="tag is-medium">
                    {{ $name }}
                  </span>
                  </a>
                <span class="tag is-medium is-success">{{ len $taxonomy.Pages }}</span>
              </div>
            </div>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
