{{ partial "header.html" . }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <span class="tag is-large is-warning">{{ .Title }}</span>

        <div class="content is-medium" style="margin-top: 1rem;">
          {{ range .Data.Pages }} {{ if eq .Type "post" }} {{ .Render "list"}} {{ end }} {{ end }}
        </div>

      </div>

      <div class="column is-3">{{ partial "menu.html" .}}</div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
