---
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <SEO
      title={title}
      charset="UTF-8"
      twitter={{
        card: "summary",
        title,
        creator: "@70_10",
      }}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
