---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/markdown-body.css";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <main class="base">
      <section class="content">
        <article class="markdown-body">
          <slot />
        </article>
      </section>
    </main>

    <Footer />
  </body>
</html>

<style>
  .base {
    @apply grid grid-cols-10 gap-y-6;
    @apply mt-5;
  }

  .content {
    @apply col-start-2 col-span-8;
    @apply md:col-start-3 md:col-span-6;
  }
</style>
