---
import { SEO } from "astro-seo";
import Footer from "@/components/Footer.astro";
import GoogleAnalytics4 from "@/components/GoogleAnalytics4.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import "@/styles/markdown-body.css";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <SEO
      title={frontmatter.title}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: frontmatter.title,
          type: "article",
          image: "",
        },
        article: {
          authors: ["70_10"],
        },
      }}
      twitter={{
        card: "summary",
        title: frontmatter.title,
        creator: "@70_10",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
    <GoogleAnalytics4 />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sacramento&display=swap"
    />
  </head>
  <body>
    <Header displayBackButton={true} />
    <main class="base">
      <section class="content">
        <article class="markdown-body">
          <slot />
        </article>
      </section>
    </main>

    <Footer />
    <style>
      @reference "@/styles/global.css";

      .base {
        @apply mx-auto w-full max-w-screen-sm px-6 sm:px-10;
        @apply mt-10;
      }

      .content {
        @apply mt-8;
      }
    </style>
  </body>
</html>
