name: Test, Lint and Build

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  build-and-preview:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 22.x

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Use pnpm@9
        uses: pnpm/action-setup@v2
        with:
          version: 10.26.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install
        run: |
          pnpm install --frozen-lockfile
      - name: Check pnpm-lock.yaml
        run: git diff --exit-code pnpm-lock.yaml
      - name: Test with Coverage
        run: |
          pnpm test:coverage
        env:
          CI: true
      - name: Vitest Coverage Report
        uses: davelosert/vitest-coverage-report-action@v2
        if: always()
        with:
          json-summary-path: "./coverage/coverage-summary.json"
          json-final-path: "./coverage/coverage-final.json"
          file-coverage-mode: "changes"
      - name: Lint
        run: |
          pnpm lint
      - name: Build
        run: |
          pnpm build
        env:
          NODE_ENV: production
